.snake-game {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5%, 1fr)); 
  grid-template-rows: repeat(auto-fill, minmax(5%, 1fr)); 
  gap: 0; 
  border: 2px solid #fefefe; /* Add an outline */
  max-width: 90%; 
  height: calc(100vh - 60px);
  margin: 50px auto; 
  background-color: transparent; /* Make the game board transparent */
  overflow: hidden;
}

/* Ensure consistent border color for focus on all devices */
.snake-game:focus {
  outline: 2px solid #ffffff; /* Adjust the color as needed */
}


/* .cell {
  width: 100%; 
  padding-top: 100%; 
} */

.snake {
  /* background-color: #33cc33;  */
  background: linear-gradient(to right bottom, #FF9B9B, #FF9B9B);
  transition: background-color 0.3s;
  border: 1px solid #000; /* Add a border for each segment of the snake */
  border-radius: 4px; /* Round the corners for a boxed design */
}

.snake:first-child {
  position: relative;
}

.snake:first-child::before {
  content: ":"; 
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px; 
  text-align: center;
  line-height: 20px; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
}


.food {
  background-color: #ff0000; 
  background: linear-gradient(to bottom, #ff0000, #cc0000);
  transition: background-color 0.3s;
}


.game-over {
  text-align: center; 
  margin-top: 20px; 
  font-size: 24px; 
  color: #FEC8D8; 
  animation: fadeIn 0.5s ease-in-out forwards;
}


.game-over button {
  display: block; 
  margin: 10px auto; 
  padding: 10px 20px; 
  background-color: #93f0ff; 
  color: #1c5169; 
  border: none; 
  cursor: pointer; 
  animation: fadeIn 0.5s ease-in-out forwards;
  transition: box-shadow 0.3s ease; 
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px 0px #377691;
  }
  50% {
    box-shadow: 0 0 15px 10px #377691;
  }
  100% {
    box-shadow: 0 0 5px 0px #377691;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.snake:hover,
.food:hover {
  transform: scale(1.05); 
  transition: transform 0.2s;
}


.game-over button:hover {
  animation: glow 1s infinite; 
  background-color: #d7f3ff; 
}


/* .cell.even {
  background-color: #6c7a87; 
}

.cell.odd {
  background-color: #454e57; 
} */


.score {
  text-align: right; 
  margin-top: 10px; 
  margin-right: 20px; 
  font-size: 24px; 
  color: #333; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


/* Touch Controls */


@media (max-width: 768px) {
  .snake-game {
    max-width: 80%; 
    max-height: 80vw;
    margin-top: 20px; 
    
  }

  .snake {
    background-color: #FF9B9B; 
    background: linear-gradient(to right bottom, #FF9B9B, #FF9B9B);
    transition: background-color 0.3s;
    border: 1px solid #000; /* Add a border for each segment of the snake */
    border-radius: 4px; /* Round the corners for a boxed design */
  }

  .touch-controls {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
  }

  .arrow-row {
    display: flex;
    justify-content: center;
  }

  .arrow-row button {
    width: 60px; 
    max-width: 80%;
    height: 60px; 
    font-size: 38px; 
    margin: 10px; 
    background-color: #333;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
  }
}


@media (min-width: 769px) {
  .touch-controls {
    display: none;
  }
}

